<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descobrir Idade | Index</title>
</head>

<body>
    <main>
        <form action="/descobrir-idade/descobrir" method="get">
            <h1>Descobrir Idade</h1>
            <div>
                <label for="ano">Ano de nascimento:</label>
                <input type="number" name="ano" id="ano" required>
            </div>
            <div>
                <button type="submit">Descobrir</button>
            </div>
        </form>
    </main>
</body>

</html>