<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>

<body>
    <div style="text-align: center;">
        <form action="/calculadora/calcular" method="post">
            <input type="number" name="numero1" placeholder="Número 1"> <br>
            <input type="number" name="numero2" placeholder="Número 2"> <br>
            <select name="operacao">
                <option value="1">Adição</option>
                <option value="2">Subtração</option>
                <option value="3">Multiplicação</option>
                <option value="4">Divisão</option>
            </select> <br>
            <input type="submit" value="Calcular">
        </form>
    </div>
</body>

</html>