<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equação quadrática</title>
</head>

<body>
    <header style="text-align: center">
        <h1>Equação quadrática</h1>
    </header>
    <main style="text-align: center">
        <form action="/equacao-quadratica/calcular" method="post">
            <div>
                <label for="coeficienteA">Coeficiente A</label>
                <input type="number" name="coeficienteA" id="coeficienteA">
            </div>
            <div>
                <label for="coeficienteB">Coeficiente B</label>
                <input type="number" name="coeficienteB" id="coeficienteB">
            </div>
            <div>
                <label for="coeficienteC">Coeficiente C</label>
                <input type="number" name="coeficienteC" id="coeficienteC">
            </div>
            <div>
                <button type="submit">Calcular</button>
            </div>
        </form>
    </main>
</body>

</html>